# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store

# IDE
.idea/
*.iml

# Flutter
.dart_tool/
.flutter-plugins-dependencies
.packages
build/

# Android
android/.gradle/
android/local.properties
/android/app/debug
/android/app/profile
/android/app/release

# iOS
ios/Pods/
ios/.symlinks/

# VSCode
.vscode/

# Coverage
coverage/

# Temp
*.tmp
*.lock